<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://igoradamenko.com/awsm.css/v2/css/awsm.min.css" rel="stylesheet">
    <title>Mantime - Projects</title>
    <style>
        .Bd {
            border: 1px solid #000;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10\) {
            padding: 10px;
        }

        .C\(red\) {
            color: red;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }
    </style>
</head>
<body>
<main>
    <p th:if="${message != null}" th:text="${message}"></p>
    <dl class="Bd P(10)" th:each="project : ${projects}">
        <dt th:text="${project.description}">...</dt>
        <dd>
            <ul class="P(0)">
                <li th:each="step : ${project.steps}"
                    th:text="|${step.description} (${step.daysToDeadline} days)|"></li>
            </ul>
            <form action="#" method="post" th:action="@{/projects/{projectId}(projectId=${project.id})}">
                <label>Deadline
                    <input name="deadline" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" type="datetime-local">
                </label>
                <button type="submit">Create tasks</button>
            </form>
        </dd>
    </dl>
    <!--/*@thymesVar id="project" type="io.github.wkktoria.mantime.model.projection.ProjectWriteModel"*/-->
    <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
        <p class="C(red)" th:errors="*{all}" th:if="${#fields.hasAnyErrors()}"></p>
        <fieldset>
            <legend>New project</legend>
            <label for="description">Description</label>
            <input id="description" th:errorclass="'Bdc(red)'" th:field="*{description}" type="text">
            <fieldset th:each="step, stat: *{steps}">
                <legend th:text="|Step ${stat.index + 1}|"></legend>
                <label>Description
                    <input th:errorclass="'Bdc(red)'" th:field="*{steps[__${stat.index}__].description}" type="text">
                </label>
                <br>
                <label>Days to deadline
                    <input th:errorclass="'Bdc(red)'" th:field="*{steps[__${stat.index}__].daysToDeadline}" type="text">
                </label>
            </fieldset>
            <span>
                <button name="addStep" type="submit">+</button>
            </span>
        </fieldset>
        <span>
            <button type="submit">Add</button>
            <button type="reset">Clear</button>
        </span>
    </form>
</main>
</body>
</html>